<%- include('partials/head') %> 
  <%- include('partials/header') %>

  <main class="container py-4">
    <h1 class="text-xl text-center text-uppercase">Available Hotels</h1>
  
    <div class="d-flex flex-row justify-content-evenly flex-wrap py-4">
      <% for (listing of listings) {%> 
      <div class="hotel-listing">
        <div class="card" style="width: 18rem;">
          <img src="https://www.holidify.com/images/bgImages/BALI.jpg" class="card-img-top" alt="Hotel Image">
          <div class="card-body">
            <h5 class="card-title text-danger"><%= listing.listingName %> </h5>
            <p class="card-text"><%= listing.address %></p>
            <span class="text-warning"><%= listing.userName %></span>
            <p class="card-text mt-none"><%= listing.description %></p>   
            <a href="/listings/<%= listing._id %>" class="btn btn-info w-100 text-white">Check this out</a>
          </div>
        </div>
      </div>
      <% } %> 
    </div>
  </main>

  <%- include('partials/footer') %>
<%- include('partials/foot') %> 